
<div class="wrapper">

  <img class="background-img img-fluid" src="https://images.unsplash.com/photo-1614607653708-0777e6d003b8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGV2ZW50c3xlbnwwfHwwfHx8MA%3D%3D" alt="">
  <div class="modal">

    <div class=" container container-fluid" >
      <form [formGroup]="addEventForm" (ngSubmit)="onSubmit()" class="form">
        <span (click)="close()" class="close">&times;</span>
        <h1 class="text-center">Add an Event</h1>
        <div class="form-group">

          <!-- @if(!addEventForm.valid && addEventForm.touched)
          {
            <span class="dangerBlock"> *Required Fields</span>
          } -->
          <label for="title">Title</label>
          <input type="text" class="form-control" formControlName="title">

        </div>
        <div class="form-group">
          <label for="start_date_time"> Start Date</label>
          <input type="datetime-local" class="form-control" formControlName="start_date_time">
        </div>
        <div class="form-group">
          <label for="end_date_time">End Date</label>
          <input type="datetime-local" class="form-control" formControlName="end_date_time">
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea placeholder=" Tell us about the event" formControlName="content" rows="4" cols="28"></textarea>
        </div>
        @if (isLoading) {
          <div style="text-align: center;">
               <app-loading-spinner></app-loading-spinner>
          </div>
           }

           <!-- @for(error of errors; track $index){
             <p class="error">{{error}}</p>
           } -->


           <div>
            <label for="cover_image">Cover Image</label>
            <input type="file" (change)="onFileSelected($event)" id="cover-image" formControlName="cover_image" />
          </div>
            @if (isError) {
             <p class="error">Date ranges cannot be in the past</p>
           }
    <button type="submit" [disabled]="!addEventForm.valid" >Add Event </button>
  </form>
</div>
</div>


