<div class="main-con container-fluid">
  <!-- <div class="monitor">
    <div class="screen"> -->
      @if(alert.comments.length > 0) {
    <div class="d-flex border-bottom justify-content-between">
      <h1 class="mt-3">Comments</h1>
      <div class="d-flex gap-3 align-items-center">
        <button class="btn btn-dark btn-sm ">Add Comment</button>
        <div class="d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-backspace-reverse-fill" viewBox="0 0 16 16">
            <path d="M0 3a2 2 0 0 1 2-2h7.08a2 2 0 0 1 1.519.698l4.843 5.651a1 1 0 0 1 0 1.302L10.6 14.3a2 2 0 0 1-1.52.7H2a2 2 0 0 1-2-2zm9.854 2.854a.5.5 0 0 0-.708-.708L7 7.293 4.854 5.146a.5.5 0 1 0-.708.708L6.293 8l-2.147 2.146a.5.5 0 0 0 .708.708L7 8.707l2.146 2.147a.5.5 0 0 0 .708-.708L7.707 8z"/>
          </svg>
          <!-- <span class="ms-1">Back</span> -->
        </div>
      </div>
    </div>
  <h2 class="">{{alert.title}}</h2>
    @for(comment of alert.comments; track alert.id){
      <div class="event-list-item">
        <div class="event-title">{{comment.content}}</div>
        <div class="event-username">{{comment.user.username}}</div>
        <div class="event-datetime">{{comment.created_at |date }}</div>
      </div>
    }
  } @else {
    <h2 class="mt-1">Sorry, No Comments 😒....yet</h2>
  }
</div>

  <!-- </div>
</div> -->



