.main-con{
  min-height: 100vh;
  width: 80%;
}




.alert-list-item{
  background-color: rgb(248, 248, 248);
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: box-shadow 0.3s ease-in-out;
}


.alert-list-item:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.alert-title{
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.alert-username{
  color: black;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}


.alert-datetime{
  color: black;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.bi{
  cursor: pointer;
}

/* .view-more-button{
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold
} */



/* .monitor {

  border: 10px solid #333;
  border-radius: 20px;
  background-color: #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.screen {

  background-color: #fff;
} */
