
.top-bar, .middle-bar, .bottom-bar {
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}




.xSym {

  span {
    &:first-child {
      transform: rotate(-45deg) translate(-7px, 5px);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:last-child {
      transform: rotate(45deg) translate(-6px, -4px);
    }
  }
}

.owl{
  border-radius: 50%;
}


.webTitle{
font-weight: 700;
font-family: Georgia, 'Times New Roman', Times, serif;
}


/* .navbar{
  background-color: purple;
} */


/*
.access{
  cursor: not-allowed;

} */

/* button{
  display: block;
} */


/*
#home:hover {
  color: #fff;
  background-color: #99c6e7;
}

#myPosts:hover {
  color: #fff;
  background-color: #99c6e7;
}

#favs:hover {
  color: #fff;
  background-color: #99c6e7;
}

#incomingApps:hover {
  color: #fff;
  background-color: #99c6e7;
}

#navBar {
  background-color: #a2d6f9;
}

#newPostButton {
  color: #fff;
  background-color: #94bfa7;
}

#newPostButton:hover {
  color: #fff;
  background-color: #5e8b6a;
}

#logOutButton {
  color: #fff;
  background-color: #2b3a67;
}

#logOutButton:hover {
  color: #fff;
  background-color: #162245;
} */
