<div class="card mb-4 bg-dark text-white" style="width: 18rem ;">
  <img [src]="event.cover_image_url || 'https://source.unsplash.com/random?'+ event.title"  class="card-img-top" alt="" style="max-height: 200px;">
  <div class="card-body">
    <h5 class="card-title">{{event.title}}</h5>
    <!-- <hr>
    <input type="checkbox" name="attending" id="attending">
    <label for="">Attending</label> -->
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item"> <strong>Details - </strong> {{event.content}}</li>
    <li class="list-group-item"> <strong>Event Time - </strong> {{event.start_date_time | date}} - {{event.end_date_time | date}}</li>
    <li class="list-group-item"> <strong>Created at - </strong> {{event.created_at | date}}</li>
    <li class="list-group-item"> <strong>Created by - </strong> {{event.user?.username}}</li>
    <li class="list-group-item"> <strong>Join Event - </strong>
      <input  class="checkbox" type="checkbox" name="attending" id="attending">
      <label class="label" for="label">Attending</label>
    </li>

  </ul>
  <div class="card-body d-flex justify-content-center gap-3">
    <a class="card-link btn btn-secondary btn-sm">View Comments</a>
    <a  class="card-lin btn btn-secondary btn-sm"> Add Comment</a>
  </div>
</div>














<!--
<div class="event-con">

      <p> {{event.title}}</p>
      <p>{{event.start_date_time | date}} - {{event.end_date_time | date}}</p>

      <p>{{event.content}}</p>


      <p>{{event.created_at | date}}</p>
    </div> -->
