.wrapper{
  min-height: 100vh;
}


.main-con{
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}


.photo{
  width: 50%;
  height: 20rem;
}

.photo2{
  width: 20%;
  border-radius: 50%;
}

.crime-con{

}


.tips-con{
  background-color: black;
  color: white;


}
