<div class="wrapper">

  <div class="container-fluid main-con">

    <h1 class="mt-2 text-center ">Statistics</h1>
    <h2 class="mt-4"> According to FBI 2022 Released Data</h2>
    <hr>
    <div class="container-fluid crime-con d-flex">
      <h2>There were 380.7 violent crimes per 100,000 people reported to the FBI from law enforcement agencies in 2022</h2>
      <h2>The property crime rate in 2022 was estimated at 1,954.4 incidents per 100,000 people</h2>
      <h2>Robbery showed an estimated increase of 1.3% nationally.</h2>
      <img class="photo" src="https://images.unsplash.com/photo-1605806616949-1e87b487fc2f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y3JpbWV8ZW58MHx8MHx8fDA%3D" alt="">
    </div>

    <div>
      <ul>
        <li>Install Security Systems</li>
        <li>Exercise Caution when out of town</li>
        <li>Lock doors and close windows/blinds during night hours</li>
        <li>Establish a neighborhood watch program</li>
        <li>Ensure there is adequate lighting </li>
        <li>Create an emergency preparedness plan</li>
        <li>Don't hesitate to report unusual activity</li>

      </ul>

  </div>
  </div>

