<div class="wrapper">

  <div class="container-fluid main-con">


   <h2>FBI 2022 Released Data</h2>
    <h2>There were 380.7 violent crimes per 100,000 people reported to the FBI from law enforcement agencies in 2022</h2>
    <h2></h2>
    <h2></h2>
    <h2>The property crime rate in 2022 was estimated at 1,954.4 incidents per 100,000 people</h2>
    <h2>Robbery showed an estimated increase of 1.3% nationally.</h2>
    </div>

    <ul>
      <li>Install Security Systems</li>
      <li>Exercise Caution when out of town</li>
      <li>Lock doors and close windows/blinds during night hours</li>
      <li>Establish a neighborhood watch program</li>
      <li>Ensure there is adequate lighting </li>
      <li>Create an emergency preparedness plan</li>
      <li>Don't hesitate to report unusual activity</li>

    </ul>
</div>
