<div class="wrapper">

  <div class="container-fluid main-con">

    <h1 class="mt-2 text-center ">Statistics</h1>

    <h2 class="mt-4"> According to FBI 2022 Released Data</h2>
    <hr>
    <div class="d-flex crime-con mb-3">
      <div class="container-fluid crime-con ">
        <h5>There were 380.7 violent crimes per 100,000 people reported to the FBI from law enforcement agencies in 2022.</h5>
        <h5>The property crime rate in 2022 was estimated at 1,954.4 incidents per 100,000 people.</h5>
        <h5>Robbery showed an estimated increase of 1.3% nationally.</h5>
      </div>
      <img class="photo" src="https://images.unsplash.com/photo-1605806616949-1e87b487fc2f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y3JpbWV8ZW58MHx8MHx8fDA%3D" alt="">
    </div>

    <h2>Safety Tips and Reccomendations</h2>
    <hr>


    <div class="d-flex gap-4 mb-3">
      <div class="tips-con">
        <ul class="d-flex mt-3 flex-column ">
          <li>Install security systems</li>
          <li>Exercise caution when out of town</li>
          <li>Lock doors and close windows/blinds during night hours</li>
          <li>Establish a neighborhood watch program</li>
          <li>Ensure there is adequate lighting </li>
          <li>Create an emergency preparedness plan</li>
          <li>Don't hesitate to report unusual activity</li>
        </ul>
      </div>
      <img class="photo2" src="https://images.unsplash.com/photo-1563486688110-3e8087cb4bb8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODJ8fGNyaW1lJTIwdGlwc3xlbnwwfHwwfHx8MA%3D%3D" alt="">
  </div>
  </div>
</div>
