

<div class="main">
  <div class="contianer container-fluid" id="paper">
    <div id="pattern">
      <div id="content">
        <h2>Attending</h2>
        @for(part of event.participants; track event.id){

          <p>{{part.username}}</p>
        }
      </div>
    </div>
  </div>
</div>



<!-- <div class="main-con">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="notebook-paper">
          <h2>Notebook Paper Style with Blue Lines</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
          <p>Integer quis neque. Praesent ut erat eget metus egestas vulputate.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
