.row{
  margin-top: 1%;
}




.pagination{
  margin-top: 1%;
}


.con{
  width: 90%;
}


button:disabled{
  /* background-color: #ff0303; */
  cursor: not-allowed;
}



@media (max-width: 767px) {

  .con {
    flex-direction: column;
    width: 24%;
    height: 13rem;
    margin-bottom: 10%;

  }





}

