<!-- <div class="card mb-4" [ngStyle]="{'background-color': getColor()}" style="width: 18rem";> -->
  <div class="card mb-4 bg-secondary text-white" style="width: 18rem ;">
    <div class="card-body">
    @if(alert.user?.id == currentUser?.id){
      <button class="btn btn-dark btn-sm mb-3" (click)="editPage()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
      </svg></button>
    }
    <h5 class="card-title">{{alert.title}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <!-- <li class="list-group-item">Event Time- {{event.start_date_time | date}} - {{event.end_date_time | date}}</li> -->
    <li class="list-group-item">  <strong>Details - </strong> {{alert.content}}</li>
    <li class="list-group-item"><strong>Created at - </strong>  {{alert.created_at | date}}</li>
    <li class="list-group-item"><strong>Created by - </strong>  {{alert.user?.username}}</li>
  </ul>
  <div class="card-body d-flex justify-content-center gap-3">
    <a class="card-link btn btn-dark btn-sm">View Comments</a>
    <a  class="card-lin btn btn-dark btn-sm"> Add Comment</a>
  </div>
</div>





















<!-- <div class="container">
  <div class="alert-header">
    <div class="alert-header-left">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
      <div class="alert-header-info">
        <div class="alert-header-info-name">{{alert.title}}</div>
        <div class="alert-header-info-name">{{alert.user?.username}}</div>
        <div class="alert-header-info-date">{{alert.created_at | date}}</div>
      </div>
    </div>
  </div>


  <div class="alert-content">{{alert.content}}</div>
</div> -->
